{% extends "teacher/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
{% block contents %}

    <div class="date-container">
        <label for="date">日付を選択:</label>
        <input type="date" id="date" name="date">
        <input type="text" id="keyword" name="keyword" class="keyword" placeholder="キーワード:">
        <input type="submit" value="検索">
    </div>

    <table>
        <thead>
            <tr>
                <th>名前</th>
                <th>学籍番号</th>
                <th>クラス・学科</th>
                <th>登校時間</th>
                <th>退出時間</th>
                <th>状況</th>
                <th>編集</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>松浦 七星</td>
                <td>23-02239</td>
                <td>システム開発</td>
                <td>09:17</td>
                <td>15:10</td>
                <td>遅刻</td>
                <td><button type="button">編集</button></td>
            </tr>
            <tr>
                <td>児玉 悠善</td>
                <td>23-43242</td>
                <td>システム開発</td>
                <td>09:07</td>
                <td>15:13</td>
                <td>出席</td>
                <td><button type="button">編集</button></td>
            </tr>
            <tr>
                <td>田中 太郎</td>
                <td>23-23453</td>
                <td>高度システム</td>
                <td>--:--</td>
                <td>--:--</td>
                <td style="color:red;">欠席</td>
                <td><button type="button">編集</button></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
