<!--生徒登校の確認画面-->
{% extends "manager/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
{% block contents %}
<header>

</header>

<div class="date-container">
    <label for="date">日付を選択:</label>
    <input type="date" id="date" name="date">
    <input type="text" id="keyword" name="keyword" class="keyword" placeholder="キーワード:">
    <input type="submit" value="検索">
</div>
<select id="status">
    <option value="出席">出席</option>
    <option value="遅刻">遅刻</option>
    <option value="早退">早退</option>
    <option value="欠席">欠席</option>
</select>

<table>
    <thead>
        <tr>
            <th>学籍番号</th>
            <th>名前</th>
            <th>クラス</th>
            <th>出席日数</th>
            <th>欠席日数</th>
            <th>確認</th>
        </tr>
    </thead>
    <tbody id="attendanceData">
        <tr>
            <td contenteditable="true">123456</td>
            <td contenteditable="true">田中 太郎</td>
            <td contenteditable="true">システム開発</td>
            <td contenteditable="true">120</td>
            <td contenteditable="true">4</td>
            <td><a href="situation_edit.html" class="situation_edit-button">確認</a></td>
        </tr>
        <tr>
            <td contenteditable="true">123457</td>
            <td contenteditable="true">佐藤 花子</td>       
            <td contenteditable="true">高度システム開発</td>
            <td contenteditable="true">116</td>
            <td contenteditable="true">8</td>
            <td><a href="situation_edit.html" class="situation_edit-button">確認</a></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}