<!--生徒の情報-->

{% extends "manager/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
{% block contents %}
<header>

</header>

<h1>生徒情報確認</h1>
<div class="date-container">
    <label for="date">日付を選択:</label>
    <input type="date" id="date" name="date">
    <input type="text" id="keyword" name="keyword" class="keyword" placeholder="キーワード:">
    <input type="submit" value="検索">
</div>

<table>
    <thead>
        <tr>
            <th>学籍番号</th>
            <th>名前</th>
            <th>クラス</th>
            <th>メールアドレス</th>
        </tr>
    </thead>
    <tbody id="attendanceData">
        <tr>
            <td contenteditable="true">123456</td>
            <td contenteditable="true">田中 太郎</td>
            <td contenteditable="true">システム開発</td>
            <td contenteditable="true">tanaka@icloud.com </td>
           
           
        </tr>
        <tr>
            <td contenteditable="true">543216</td>
            <td contenteditable="true">渡辺 徹</td>
            <td contenteditable="true">システム開発</td>
            <td contenteditable="true">watanabe@icloud.com </td>
        </tr>
    </tbody>
</table>
</div>
{%endblock %}
