/* 全体のリセット */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* ページ全体のスタイル */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

/* パスワード変更コンテナのスタイル */
.forgot-password-container {
    width: 470px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid #ddd; 
}

/* タイトルのスタイル */
.forgot-password-container h2 {
    background-color: #555;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
    border-radius: 3px 3px 0 0;
}

/* 説明テキストのスタイル */
.forgot-password-container p {
    color: #333;
    font-size: 0.9em;
    margin-bottom: 15px;
}

/* 入力欄のスタイル */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    font-size: 0.9em;
}

input[type="text"],
input[type="email"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
}

/* ボタンのスタイル */
button {
    width: 150px; 
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px; 
}

button:hover {
    background-color: #555;
}
