/* リセット */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* ログインコンテナ */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

/* ログインコンテナのスタイル */
.login-container {
    width: 470px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* タイトルのスタイル */
.login-container h2 {
    background-color: #555;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px 3px 0 0;
    font-size: 1.5em;
}

/* フォーム入力欄のスタイル */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
}

/* パスワードを忘れた */
.forgot-password {
    text-align: right;
    margin-bottom: 15px; 
}

.forgot-password a {
    color: #888;
    text-decoration: none;
    font-size: 0.8em; 
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* ログインボタン */
button {
    width: 150px; 
    padding: 8px; 
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}
