{% extends 'student/base.html' %}
{% block contents%}
<h1>理由届一覧</h1>
{% if message %}
<p>{{ message }}</p>
{% else %}
<table border="1">
    <thead>
        <tr>
            <th>日付</th>
            <th>ステータス</th>
            <th>出席時間</th>
            <th>理由入力</th>
        </tr>
    </thead>
    <tbody>
        {% for record in attendance_records %}
        <tr>
            <td>{{ record.date.date|date:"Y/m/d" }}</td> <!-- 日付のフォーマット -->
            <td>{{ record.get_status_display }}</td>
            <td>{{ record.attendance_time|time:"H:i" }}</td> <!-- 時間のフォーマット -->
            <td>
                {% if not record.reason %}
                <a href="{% url 'input_reason' record.attendance_id %}">理由入力</a>
                {% else %}
                入力済み
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}