{% extends "student/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
{% block contents %}
<body>
    <header>
      
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/changepass.css' %}">
    </header>

    <div class="changepass-container">
        <h1>パスワード変更</h1>
        <form id="passwordChangeForm">
            <label for="currentPassword">パスワード</label>
            <input type="password" id="currentPassword" name="currentPassword" required class="password-input">

            <label for="newPassword">新パスワード</label>
            <input type="password" id="newPassword" name="newPassword" required class="password-input">

            <label for="confirmPassword">確認用パスワード</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required class="password-input">

            <button type="submit" class="change-button">変更</button>
        </form>
    </div>

    <script src="{% static 'js/student.js' %}"></script>
</body>
{% endblock %}
</html>
