{% extends "student/base.html"%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>出席登録</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
{% block contents %}
<body>
    <h1>出席登録</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="date">日付:</label>
        <select name="date" required>
            {% for calendar in calendar_dates %}
                <option value="{{ calendar.date }}">{{ calendar.date }}</option>
            {% endfor %}
        </select><br>

        <label for="status">出席状況:</label><br>
        <button type="submit" name="status" value="present">出席</button>
        <button type="submit" name="status" value="late">遅刻</button>
        <button type="submit" name="status" value="leave_early">早退</button>
        <button type="submit" name="status" value="absent">欠席</button>
        <button type="submit" name="status" value="school_absence">校欠</button><br>

        <button type="submit">登録</button>
    </form>
</body>
{% endblock %}
</html>
